<%= simple_form_for [ @list, @bookmark ] do |f| %>
  <%= f.input :comment %>
   <%= f.association :movie %>
  <%= f.submit %>
<% end %>
<br>
<p><%= link_to "Back to index", lists_path, class: "btn btn-primary" %></p>
